@import "../../node_modules/material-design-icons/iconfont/material-icons.css";

:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 7px;
    width: 150px;
    height: 120px;
    transform-origin: center;
    transition: all 0.3s;
}

:host(:hover) {
    cursor: pointer;
    border-color: white;
    transform: translateY(-5px);
}

.module-icon {
    color: rgba(255,255,255,0.2);
    font-size: 50px;
}

.module-title {
    font-family: 'Open Sans';
    font-weight: 400;
    color: rgba(255,255,255,0.2);
    font-size: 12px;
    margin-top: 10px;
}