@import "../../node_modules/material-design-icons/iconfont/material-icons.css";

* {
    box-sizing: border-box;
}

:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #aaa;
    font-family: 'Open Sans', sans-serif;
}

.dashboard-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    /* Animation */
    transition: visibility 0s .12s linear , opacity .12s ease-in;
}

.dashboard-section.is-shown {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    /* Animation */
    transition: visibility 0s .12s linear , opacity .8s ease-out;
}

.d-title {
    color: var(--dark-font-color);
    font-size: 18px;
    margin: 30px 0 10px 0;
    padding: 0 10px;
    text-transform: uppercase;
}

#card-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.d-card {
    padding: 10px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 150px;
    border-radius: 3px;
    margin: 10px;
}

.d-card:hover {
    cursor: pointer;
}

.d-card-icon {
    font-size: 30px;
    color: rgba(221,64,91,1);
}

.d-card-icon, .d-card-title {
    text-align: center;
    padding: 10px 0;
}

.d-card-title {
    color: #999;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.new-card {
    border: 2px dashed #ccc;
    box-shadow: none;
    background: none;
}

.new-card .d-card-title, .new-card .d-card-icon {
    color: #ccc;
}

#d-btn-container {
    display: flex;
    justify-content: flex-end;
}

#d-btn-container button {
    height: 25px;
    border-radius: 12.5px;
    background: none;
    outline: none;
    color: var(--pink-color);
    border: 2px solid var(--pink-color);
    display: flex;
    align-items: center;
    margin: 0 0 0 5px;
    padding: 0 8px 0 5px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    transition: all .2s;
}

#d-btn-container button i {
    display: flex;
    align-items: center;
    font-size: 18px !important;
}

#d-btn-container button:hover {
    cursor: pointer;
}

#d-btn-container button:hover {
    background: var(--pink-color);
    color: #fff;
}