@import "../../node_modules/material-design-icons/iconfont/material-icons.css";

* {
    box-sizing: border-box;
}

:host {
    display: flex;
    height: 25px;
    width: 200px;
    position: relative;
    margin-bottom: 10px;
    font-family: 'Open Sans';
}

.icon, input {
    position: absolute;
    top: 0;
}

.icon {
    right: 0;
    width: 25px;
    height: 100%;
    font-size: 16px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

input {
    left: 0;
    border: none;
    background: none;
    height: 100%;
    width: 100%;
    font-size: var(--standard-font-size);
    outline: none;
    color: #666;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #999;
}