@import "../../node_modules/material-design-icons/iconfont/material-icons.css";

* {
    box-sizing: border-box;
}

:host {
    height: 30px;
    width: auto;
    display: flex;
    position: relative;
    align-items: center;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;
    color: #93a7b2;
    font-family: 'Open Sans';
}

:host(:hover) {
    cursor: pointer;
}

i {
    flex-grow: 1;
    transform: scale(0.85);
}

span {
    font-size: 12px;
    display: flex;
    align-items: center;
    padding-right: 5px;
}