@import "../../node_modules/material-design-icons/iconfont/material-icons.css";

:host {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2b2f3e;
    border-radius: 5px;
    width: 160px;
    height: 50px;
    transform-origin: center;
    box-shadow: 0 0 2px #0d121d;
    -webkit-user-select: none;
    transition: all 0.3s;
}

:host([status="active"]:hover) {
    cursor: pointer;
    box-shadow: 0 0 20px #0d121d;
    transform: translateY(-10px);
}

.module-icon {
    color: rgba(255,255,255,0.2);
    font-size: 35px;
}

:host([status="active"]) .module-icon {
    color: #fff;
    transition: all 0.4s;
}

.module-title {
    font-family: 'Open Sans';
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.5px;
    color: rgba(255,255,255,0.2);
    font-size: 12px;
}

:host([status="active"]) .module-title {
    color: #fff;
}