@import "../../node_modules/material-design-icons/iconfont/material-icons.css";

* {
    box-sizing: border-box;
}

:host {
    width: 180px;
    height: 100%;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: width .5s;
    z-index: 2;
}

:host(.shrank) {
    width: 60px !important;
}

#user-data {
    width: 100%;
    height: auto;
    display: flex;
    font-family: "Open Sans", sans-serif;
}

#user-avatar {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: #b6c6cf;
}

.display-none {
    display: none;
}

#user-info {
    margin-left: 10px;
    color: #999;
}

#user-name {
    display: block;
    font-size: 12px;
}

#menu {
    width: 100%;
    height: auto;
    list-style: none;
    font-family: 'Open Sans';
    font-weight: 300;
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
}

#menu li {
    display: flex;
    color: #999;
    width: 100%;
    height: 40px;
    line-height: 40px;
    align-items: center;
}

#menu li:first-child {
    color: rgba(221,64,91,1);
    cursor: pointer;
}

#menu li:hover {
    color: rgba(221,64,91,1);
    cursor: pointer;
}

#menu li i {
    font-size: 24px;
    display: block;
    height: 24px;
    width: 24px;
    transform-origin: center;
    transform: scale(0.8);
}

#menu li span {
    font-size: 12px;
    margin-left: 10px;
}

.shrink {
    width: 60px;
}